PUBLIC_SUPABASE_URL="https://vjsiblyxlsdyzyursvra.supabase.co",
PUBLIC_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqc2libHl4bHNkeXp5dXJzdnJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ1MTE5MTUsImV4cCI6MjAwMDA4NzkxNX0.5YeI67D3G8HmZYz7nK1i5IJ0a5CH7THTpu4gUsp19gE"