<div
    style="display: flex; flex-direction: column; height: 100%; max-height: 100%; outline: 0px;"
    class="flex flex-col h-full max-h-full font-sans font-medium leading-6 cursor-default text-neutral-500"
>
    <div
        style="display: block; flex-shrink: 0; flex-grow: 0; outline: 0px;"
        class="block flex-grow-0 flex-shrink-0 font-medium cursor-default"
    >
        <div
            role="button"
            tabindex="0"
            class="flex items-center p-0 mb-0 w-full min-w-0 h-12 leading-6 cursor-pointer select-none"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; min-width: 0px; height: 45px; width: 100%; margin-bottom: 0px; padding: 0px; outline: 0px;"
        >
            <div
                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 14px; margin-top: 1px; margin-bottom: 1px; overflow: hidden; margin-left: 0px; outline: 0px;"
                class="flex overflow-hidden items-center py-px px-3 my-px ml-0 w-full text-sm leading-5"
            >
                <div
                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                >
                    <div
                        class="flex flex-shrink-0 justify-center items-center mt-px w-5 h-5 rounded text-stone-700"
                        style="display: flex; align-items: center; justify-content: center; height: 22px; width: 22px; border-radius: 0.25em; flex-shrink: 0; margin-top: 1px; color: rgb(55, 53, 47); font-weight: 500; outline: 0px;"
                    >
                        <div
                            style="border-radius: 0.25em; width: 20px; height: 20px; background: rgba(55, 53, 47, 0.09); color: rgba(55, 53, 47, 0.65); text-transform: uppercase; display: flex; align-items: center; justify-content: center; outline: 0px;"
                            class="flex justify-center items-center w-5 h-5 uppercase bg-gray-200 rounded bg-opacity-[0.09]"
                        >
                            <div
                                style="line-height: 1; font-size: 13.431px; height: 13.431px; outline: 0px;"
                                class="h-3 leading-none uppercase"
                            >
                                D
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                    class="flex-auto min-w-0 truncate"
                >
                    <div
                        class="flex items-center whitespace-nowrap"
                        style="display: flex; align-items: center; justify-content: start; outline: 0px;"
                    >
                        <div
                            style="display: flex; flex-direction: column; margin-right: 6px; margin-top: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                            class="flex flex-col mt-0 mr-1 truncate"
                        >
                            <div
                                style="color: rgb(55, 53, 47); font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                                class="truncate text-stone-700"
                            >
                                Daniel Snell's Notion
                            </div>
                            <div
                                style="color: rgba(55, 53, 47, 0.65); font-size: 11px; line-height: 12px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                                class="font-normal leading-3 truncate"
                            >
                            </div>
                        </div>
                        <div
                            style="flex-grow: 0; flex-shrink: 0; width: 12px; height: 12px; fill: rgba(55, 53, 47, 0.45); outline: 0px;"
                            class="flex-grow-0 flex-shrink-0 w-3 h-3 text-neutral-500"
                        >
                            <svg
                                viewBox="-1 -1 9 11"
                                class="block flex-shrink-0 w-full h-full fill-inherit"
                                style="width: 100%; height: 100%; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                            >
                                <path
                                    id="path0_stroke"
                                    d="M 3.5 0L 3.98809 -0.569442L 3.5 -0.987808L 3.01191 -0.569442L 3.5 0ZM 3.5 9L 3.01191 9.56944L 3.5 9.98781L 3.98809 9.56944L 3.5 9ZM 0.488094 3.56944L 3.98809 0.569442L 3.01191 -0.569442L -0.488094 2.43056L 0.488094 3.56944ZM 3.01191 0.569442L 6.51191 3.56944L 7.48809 2.43056L 3.98809 -0.569442L 3.01191 0.569442ZM -0.488094 6.56944L 3.01191 9.56944L 3.98809 8.43056L 0.488094 5.43056L -0.488094 6.56944ZM 3.98809 9.56944L 7.48809 6.56944L 6.51191 5.43056L 3.01191 8.43056L 3.98809 9.56944Z"
                                    class=""
                                    style="outline: 0px;"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="flex items-center mr-0 ml-auto h-full cursor-pointer"
                style="display: flex; align-items: center; height: 100%; margin-left: auto; margin-right: 0px; outline: 0px; animation: 330ms ease-in 0s 1 normal none running fadein;"
            >
                <div
                    aria-label="Close sidebar"
                    role="button"
                    tabindex="0"
                    class="inline-flex relative flex-shrink-0 justify-center items-center p-0 ml-2 w-6 h-6 rounded-sm opacity-100 select-none"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; border-radius: 3px; height: 24px; width: 24px; padding: 0px; position: relative; margin-left: 10px; opacity: 1; outline: 0px;"
                >
                    <svg
                        viewBox="0 0 16 16"
                        class="block flex-shrink-0 w-4 h-4 text-neutral-500"
                        style="width: 16px; height: 16px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                    >
                        <path
                            d="M7.07031 13.8887C7.2207 14.0391 7.40527 14.1211 7.62402 14.1211C8.06836 14.1211 8.41699 13.7725 8.41699 13.3281C8.41699 13.1094 8.32812 12.9043 8.17773 12.7539L3.37207 8.05762L8.17773 3.375C8.32812 3.21777 8.41699 3.0127 8.41699 2.80078C8.41699 2.35645 8.06836 2.00781 7.62402 2.00781C7.40527 2.00781 7.2207 2.08984 7.07031 2.24023L1.73828 7.44922C1.56055 7.62012 1.46484 7.8252 1.46484 8.06445C1.46484 8.29688 1.55371 8.49512 1.73828 8.67969L7.07031 13.8887ZM13.1748 13.8887C13.3252 14.0391 13.5098 14.1211 13.7354 14.1211C14.1797 14.1211 14.5283 13.7725 14.5283 13.3281C14.5283 13.1094 14.4395 12.9043 14.2891 12.7539L9.4834 8.05762L14.2891 3.375C14.4395 3.21777 14.5283 3.0127 14.5283 2.80078C14.5283 2.35645 14.1797 2.00781 13.7354 2.00781C13.5098 2.00781 13.3252 2.08984 13.1748 2.24023L7.84961 7.44922C7.66504 7.62012 7.57617 7.8252 7.56934 8.06445C7.56934 8.29688 7.66504 8.49512 7.84961 8.67969L13.1748 13.8887Z"
                            class=""
                            style="outline: 0px;"></path>
                    </svg>
                </div>
                <div
                    style="display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; width: 16px; height: 16px; font-size: 10px; text-align: center; font-weight: 600; border-radius: 3px; color: white; position: static; margin-left: 6px; -webkit-font-smoothing: auto; margin-right: 14px; background: rgb(235, 87, 87); outline: 0px;"
                    class="inline-flex static flex-shrink-0 justify-center items-center mr-3 ml-1 w-4 h-4 font-semibold leading-4 text-center text-white bg-rose-500 rounded-sm"
                >
                    <span class="" style="outline: 0px; font-size: 10px;"
                        >3</span
                    >
                </div>
            </div>
        </div>
    </div>
    <div
        style="flex-grow: 0; flex-shrink: 0; padding-bottom: 8px; outline: 0px;"
        class="flex-grow-0 flex-shrink-0 pb-2 font-medium cursor-default"
    >
        <div
            role="button"
            tabindex="0"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
            class="mx-1 w-56 leading-6 rounded-sm cursor-pointer select-none"
        >
            <div
                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
            >
                <div
                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                >
                    <svg
                        viewBox="0 0 14 14"
                        class="block flex-shrink-0 w-3 h-full text-neutral-500"
                        style="width: 14px; height: 100%; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                    >
                        <path
                            d="M5.92239093,0.540000021 C2.94055203,0.540000021 0.5,2.98052217 0.5,5.96238099 C0.5,8.9442199 2.94055203,11.384762 5.92239093,11.384762 C7.02329179,11.384762 8.05258749,11.0564678 8.91032559,10.4866744 L12.1460745,13.6802311 C12.5695899,14.1037465 13.2589477,14.1037465 13.6823635,13.6802311 C14.1058788,13.2567158 14.1058788,12.5730353 13.6823635,12.1495199 L10.4410368,8.95033558 C11.0107904,8.09259747 11.3447619,7.06329182 11.3447619,5.96238099 C11.3447619,2.98052217 8.90420992,0.540000021 5.92239093,0.540000021 Z M5.92239093,2.70895241 C7.7320027,2.70895241 9.17580956,4.15272939 9.17580956,5.96238099 C9.17580956,7.77201268 7.7320027,9.21581954 5.92239093,9.21581954 C4.11275925,9.21581954 2.66895239,7.77201268 2.66895239,5.96238099 C2.66895239,4.15272939 4.11275925,2.70895241 5.92239093,2.70895241 Z"
                            class=""
                            style="outline: 0px;"></path>
                    </svg>
                </div>
                <div
                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                    class="flex-auto min-w-0 truncate"
                >
                    Search
                </div>
            </div>
        </div>
        <div
            role="button"
            tabindex="0"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
            class="mx-1 w-56 leading-6 rounded-sm cursor-pointer select-none"
        >
            <div
                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; background: none; outline: 0px;"
                class="flex items-center py-px px-2 my-px w-full text-sm leading-5 bg-none"
            >
                <div
                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                >
                    <div style="color: inherit; outline: 0px;" class="">
                        <svg
                            viewBox="0 0 14 14"
                            class="block flex-shrink-0 w-3 h-full text-neutral-500"
                            style="width: 14px; height: 100%; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                        >
                            <path
                                d="M7.01356 14.0001C8.8042 14.0001 10.5958 13.3107 11.9575 11.9324C14.681 9.21201 14.6808 4.7603 11.9571 2.04013C9.23336 -0.680043 4.77573 -0.680043 2.05199 2.04013C0.727519 3.36277 0 5.13301 0 6.99553C0 8.8764 0.727811 10.6285 2.05199 11.9509C3.43207 13.3106 5.22243 14.0001 7.01356 14.0001ZM3.72947 7.00914V8.461V8.65543H3.92382H5.34563H8.2794H8.4738V8.461V5.52541V3.37947V3.18502H8.2794H6.82747H6.63307V3.37947V6.81467H3.92382H3.72947V7.00914ZM1.83985 6.99553C1.83985 5.61698 2.38099 4.32597 3.36061 3.3477C5.36746 1.34337 8.64803 1.34062 10.6585 3.33944C10.6613 3.34219 10.6639 3.34494 10.6668 3.3477C12.676 5.3546 12.6763 8.63642 10.6668 10.6434C8.65705 12.6504 5.37031 12.6504 3.36061 10.6434C2.38099 9.66506 1.83985 8.37408 1.83985 6.99553Z"
                                class=""
                                style="outline: 0px;"></path>
                        </svg>
                    </div>
                </div>
                <div
                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: clip; outline: 0px;"
                    class="overflow-hidden flex-auto min-w-0 whitespace-nowrap text-clip"
                >
                    Updates
                </div>
                <div
                    style="display: flex; align-items: center; justify-content: center; flex-shrink: 0; flex-grow: 0; height: 100%; outline: 0px;"
                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center h-full text-neutral-500"
                >
                </div>
            </div>
        </div>
        <div
            role="button"
            tabindex="0"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
            class="mx-1 w-56 leading-6 rounded-sm cursor-pointer select-none"
        >
            <div
                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
            >
                <div
                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                >
                    <svg
                        viewBox="0 0 14 14"
                        class="block flex-shrink-0 w-3 h-full text-neutral-500"
                        style="width: 14px; height: 100%; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                    >
                        <path
                            d="M14,7.77 L14,6.17 L12.06,5.53 L11.61,4.44 L12.49,2.6 L11.36,1.47 L9.55,2.38 L8.46,1.93 L7.77,0.01 L6.17,0.01 L5.54,1.95 L4.43,2.4 L2.59,1.52 L1.46,2.65 L2.37,4.46 L1.92,5.55 L0,6.23 L0,7.82 L1.94,8.46 L2.39,9.55 L1.51,11.39 L2.64,12.52 L4.45,11.61 L5.54,12.06 L6.23,13.98 L7.82,13.98 L8.45,12.04 L9.56,11.59 L11.4,12.47 L12.53,11.34 L11.61,9.53 L12.08,8.44 L14,7.75 L14,7.77 Z M7,10 C5.34,10 4,8.66 4,7 C4,5.34 5.34,4 7,4 C8.66,4 10,5.34 10,7 C10,8.66 8.66,10 7,10 Z"
                            class=""
                            style="outline: 0px;"></path>
                    </svg>
                </div>
                <div
                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                    class="flex-auto min-w-0 truncate"
                >
                    <div class="whitespace-nowrap" style="outline: 0px;">
                        Settings &amp; members
                    </div>
                </div>
            </div>
        </div>
        <div
            role="button"
            tabindex="0"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
            class="mx-1 w-56 leading-6 rounded-sm cursor-pointer select-none"
        >
            <div
                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
            >
                <div
                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                >
                    <svg
                        viewBox="0 0 22 22"
                        class="block flex-shrink-0 w-3 h-3 text-neutral-500"
                        style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                    >
                        <path
                            d="M11 22C17.0326 22 22 17.0326 22 11C22 4.97795 17.0221 0 10.9895 0C4.9674 0 0 4.97795 0 11C0 17.0326 4.9674 22 11 22ZM5.83221 11.0105C5.83221 10.3461 6.30681 9.87152 6.96069 9.87152H9.88207V6.95014C9.88207 6.30681 10.3461 5.83221 10.9895 5.83221C11.6539 5.83221 12.1285 6.30681 12.1285 6.95014V9.87152H15.0499C15.6932 9.87152 16.1678 10.3461 16.1678 11.0105C16.1678 11.6539 15.6932 12.1179 15.0499 12.1179H12.1285V15.0499C12.1285 15.6932 11.6539 16.1572 10.9895 16.1572C10.3461 16.1572 9.88207 15.6932 9.88207 15.0499V12.1179H6.96069C6.30681 12.1179 5.83221 11.6539 5.83221 11.0105Z"
                            class=""
                            style="outline: 0px;"></path>
                    </svg>
                </div>
                <div
                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                    class="flex-auto min-w-0 truncate"
                >
                    New page
                </div>
            </div>
        </div>
    </div>
    <div
        style="width: 100%; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; transition: box-shadow 300ms ease 0s; height: 2px; margin-top: -2px; outline: 0px;"
        class="-mt-px w-full h-px font-medium cursor-default"
    >
    </div>
    <div
        class="pt-1 pb-5 mr-0 mb-0 font-medium cursor-default"
        style="padding-top: 6px; padding-bottom: 20px; z-index: 1; overflow: hidden auto; margin-right: 0px; margin-bottom: 0px; outline: 0px;"
    >
        <nav class="block leading-6" style="outline: 0px;">
            <div
                class="block cursor-default"
                style="display: block; outline: 0px;"
            >
                <div style="outline: 0px;" class="text-neutral-500">
                    <div
                        data-block-id="501ebfef-895b-489d-b9b5-93da800c72c5"
                        class=""
                        style="outline: 0px;"
                    >
                        <a
                            href="/Quick-Note-501ebfef895b489db9b593da800c72c5?pvs=12"
                            rel="noopener noreferrer"
                            style="display: block; color: inherit; text-decoration: none; user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: calc(100% - 8px); border-radius: 3px; margin-left: 4px; margin-right: 4px; outline: 0px;"
                            class="block mx-1 w-56 bg-transparent rounded-sm cursor-pointer select-none"
                            ><div
                                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px 2px 5px; margin-top: 1px; margin-bottom: 1px; border-radius: 3px; outline: 0px;"
                                class="flex items-center py-px pr-2 pl-1 my-px w-full text-sm leading-5 rounded-sm"
                            >
                                <div
                                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 0px; outline: 0px;"
                                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-0 w-5 h-5 rounded-sm"
                                >
                                    <div
                                        aria-label="Open"
                                        role="button"
                                        tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; position: relative; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 3px; outline: 0px;"
                                        class="flex relative justify-center items-center w-5 h-5 rounded-sm select-none"
                                    >
                                        <svg
                                            viewBox="0 0 12 12"
                                            class="block flex-shrink-0 w-3 h-3 opacity-100"
                                            style="width: 12px; height: 12px; display: block; fill: rgba(55, 53, 47, 0.35); flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(-90deg); opacity: 1; outline: 0px;"
                                        >
                                            <path
                                                d="M6.02734 8.80274C6.27148 8.80274 6.47168 8.71484 6.66211 8.51465L10.2803 4.82324C10.4268 4.67676 10.5 4.49609 10.5 4.28125C10.5 3.85156 10.1484 3.5 9.72363 3.5C9.50879 3.5 9.30859 3.58789 9.15234 3.74902L6.03223 6.9668L2.90722 3.74902C2.74609 3.58789 2.55078 3.5 2.33105 3.5C1.90137 3.5 1.55469 3.85156 1.55469 4.28125C1.55469 4.49609 1.62793 4.67676 1.77441 4.82324L5.39258 8.51465C5.58789 8.71973 5.78808 8.80274 6.02734 8.80274Z"
                                                class=""
                                                style="outline: 0px;"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div
                                    style="display: flex; align-items: center; justify-content: center; flex-shrink: 0; flex-grow: 0; width: 22px; height: 18px; margin-left: -3px; margin-right: 4px; position: relative; outline: 0px;"
                                    class="flex relative flex-grow-0 flex-shrink-0 justify-center items-center mr-1 -ml-1 w-5 h-4"
                                >
                                    <div
                                        role="button"
                                        tabindex="0"
                                        class="flex flex-shrink-0 justify-center items-center w-5 h-5 rounded select-none"
                                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; height: 20px; width: 20px; border-radius: 0.25em; flex-shrink: 0; outline: 0px;"
                                    >
                                        <div
                                            style="display: flex; align-items: center; justify-content: center; height: 20px; width: 20px; outline: 0px;"
                                            class="flex justify-center items-center w-5 h-5"
                                        >
                                            <div
                                                style="height: 14px; width: 14px; font-size: 14px; line-height: 1; margin-left: 0px; color: black; outline: 0px;"
                                                class="ml-0 w-3 h-3 leading-none text-black"
                                            >
                                                <span
                                                    role="img"
                                                    aria-label="📌"
                                                    style='font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols; line-height: 1em; white-space: nowrap; outline: 0px;'
                                                    class="leading-4 whitespace-nowrap"
                                                    >📌</span
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: clip; display: flex; align-items: center; outline: 0px;"
                                    class="flex overflow-hidden flex-auto items-center min-w-0 whitespace-nowrap text-clip"
                                >
                                    <div
                                        class="truncate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                                    >
                                        Quick Note
                                    </div>
                                </div>
                                <div
                                    style="display: flex; align-items: center; justify-content: center; flex-shrink: 0; flex-grow: 0; height: 100%; outline: 0px;"
                                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center h-full"
                                >
                                    <div
                                        style="display: block; padding-left: 3px; position: absolute; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; height: 1px; width: 1px; outline: 0px;"
                                        class="block overflow-hidden absolute pl-1 w-px h-px whitespace-nowrap"
                                    >
                                        <div
                                            role="button"
                                            tabindex="0"
                                            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 3px; margin-left: 4px; outline: 0px;"
                                            class="flex justify-center items-center ml-1 w-5 h-5 rounded-sm select-none"
                                        >
                                            <svg
                                                viewBox="0 0 13 3"
                                                class="block flex-shrink-0 w-3 h-full"
                                                style="width: 14px; height: 100%; display: block; fill: rgba(25, 23, 17, 0.6); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                                            >
                                                <g
                                                    class=""
                                                    style="outline: 0px;"
                                                >
                                                    <path
                                                        d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"
                                                        class=""
                                                        style="outline: 0px;"
                                                    ></path>
                                                    <path
                                                        d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"
                                                        class=""
                                                        style="outline: 0px;"
                                                    ></path>
                                                    <path
                                                        d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"
                                                        class=""
                                                        style="outline: 0px;"
                                                    ></path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div
                                            aria-label="Quickly add a page inside"
                                            role="button"
                                            tabindex="0"
                                            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 3px; margin-left: 4px; outline: 0px;"
                                            class="flex justify-center items-center ml-1 w-5 h-5 rounded-sm select-none"
                                        >
                                            <svg
                                                viewBox="0 0 14 14"
                                                class="block flex-shrink-0 w-3 h-full"
                                                style="width: 14px; height: 100%; display: block; fill: rgba(25, 23, 17, 0.6); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                                            >
                                                <path
                                                    d="M2 7.16357C2 7.59692 2.36011 7.95093 2.78735 7.95093H6.37622V11.5398C6.37622 11.9731 6.73022 12.3271 7.16357 12.3271C7.59692 12.3271 7.95093 11.9731 7.95093 11.5398V7.95093H11.5398C11.9731 7.95093 12.3271 7.59692 12.3271 7.16357C12.3271 6.73022 11.9731 6.37622 11.5398 6.37622H7.95093V2.78735C7.95093 2.36011 7.59692 2 7.16357 2C6.73022 2 6.37622 2.36011 6.37622 2.78735V6.37622H2.78735C2.36011 6.37622 2 6.73022 2 7.16357Z"
                                                    class=""
                                                    style="outline: 0px;"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div></a
                        >
                    </div>
                    <div
                        data-block-id="2daf2075-c396-468e-9f34-0c5dab9345f4"
                        class=""
                        style="outline: 0px;"
                    >
                        <a
                            href="/2daf2075c396468e9f340c5dab9345f4?v=6449eef3513b45aba44fa70faa8878c5&pvs=12"
                            rel="noopener noreferrer"
                            style="display: block; color: inherit; text-decoration: none; user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: calc(100% - 8px); border-radius: 3px; margin-left: 4px; margin-right: 4px; outline: 0px;"
                            class="block mx-1 w-56 bg-transparent rounded-sm cursor-pointer select-none"
                            ><div
                                style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px 2px 5px; margin-top: 1px; margin-bottom: 1px; font-weight: 600; background: rgba(0, 0, 0, 0.04); color: rgb(55, 53, 47); border-radius: 3px; outline: 0px;"
                                class="flex items-center py-px pr-2 pl-1 my-px w-full text-sm font-semibold leading-5 rounded-sm bg-zinc-100 text-stone-700 bg-opacity-[0.04]"
                            >
                                <div
                                    style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 0px; outline: 0px;"
                                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-0 w-5 h-5 rounded-sm"
                                >
                                    <div
                                        aria-label="Open"
                                        role="button"
                                        tabindex="0"
                                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; position: relative; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 3px; outline: 0px;"
                                        class="flex relative justify-center items-center w-5 h-5 rounded-sm select-none"
                                    >
                                        <svg
                                            viewBox="0 0 12 12"
                                            class="block flex-shrink-0 w-3 h-3 opacity-100"
                                            style="width: 12px; height: 12px; display: block; fill: rgba(55, 53, 47, 0.35); flex-shrink: 0; backface-visibility: hidden; transition: transform 200ms ease-out 0s; transform: rotateZ(-90deg); opacity: 1; outline: 0px;"
                                        >
                                            <path
                                                d="M6.02734 8.80274C6.27148 8.80274 6.47168 8.71484 6.66211 8.51465L10.2803 4.82324C10.4268 4.67676 10.5 4.49609 10.5 4.28125C10.5 3.85156 10.1484 3.5 9.72363 3.5C9.50879 3.5 9.30859 3.58789 9.15234 3.74902L6.03223 6.9668L2.90722 3.74902C2.74609 3.58789 2.55078 3.5 2.33105 3.5C1.90137 3.5 1.55469 3.85156 1.55469 4.28125C1.55469 4.49609 1.62793 4.67676 1.77441 4.82324L5.39258 8.51465C5.58789 8.71973 5.78808 8.80274 6.02734 8.80274Z"
                                                class=""
                                                style="outline: 0px;"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div
                                    style="display: flex; align-items: center; justify-content: center; flex-shrink: 0; flex-grow: 0; width: 22px; height: 18px; margin-left: -3px; margin-right: 4px; position: relative; outline: 0px;"
                                    class="flex relative flex-grow-0 flex-shrink-0 justify-center items-center mr-1 -ml-1 w-5 h-4"
                                >
                                    <div
                                        role="button"
                                        tabindex="0"
                                        class="flex flex-shrink-0 justify-center items-center w-5 h-5 rounded select-none"
                                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; height: 20px; width: 20px; border-radius: 0.25em; flex-shrink: 0; outline: 0px;"
                                    >
                                        <div class="" style="outline: 0px;">
                                            <div
                                                style="width: 100%; height: 100%; outline: 0px;"
                                                class="w-full h-full"
                                            >
                                                <img
                                                    src="/images/app-packages/docs-icon.svg"
                                                    referrerpolicy="same-origin"
                                                    style="display: block; object-fit: cover; border-radius: 3px; width: 17.76px; height: 17.76px; transition: opacity 100ms ease-out 0s; outline: 0px;"
                                                    class="block object-cover w-4 h-4 rounded-sm border-0"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: clip; display: flex; align-items: center; outline: 0px;"
                                    class="flex overflow-hidden flex-auto items-center min-w-0 whitespace-nowrap text-clip"
                                >
                                    <div
                                        class="truncate"
                                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                                    >
                                        Docs
                                    </div>
                                </div>
                                <div
                                    style="display: flex; align-items: center; justify-content: center; flex-shrink: 0; flex-grow: 0; height: 100%; outline: 0px;"
                                    class="flex flex-grow-0 flex-shrink-0 justify-center items-center h-full"
                                >
                                    <div
                                        style="display: block; padding-left: 3px; position: absolute; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; height: 1px; width: 1px; outline: 0px;"
                                        class="block overflow-hidden absolute pl-1 w-px h-px whitespace-nowrap"
                                    >
                                        <div
                                            role="button"
                                            tabindex="0"
                                            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 3px; margin-left: 4px; outline: 0px;"
                                            class="flex justify-center items-center ml-1 w-5 h-5 rounded-sm select-none"
                                        >
                                            <svg
                                                viewBox="0 0 13 3"
                                                class="block flex-shrink-0 w-3 h-full"
                                                style="width: 14px; height: 100%; display: block; fill: rgba(25, 23, 17, 0.6); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                                            >
                                                <g
                                                    class=""
                                                    style="outline: 0px;"
                                                >
                                                    <path
                                                        d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"
                                                        class=""
                                                        style="outline: 0px;"
                                                    ></path>
                                                    <path
                                                        d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"
                                                        class=""
                                                        style="outline: 0px;"
                                                    ></path>
                                                    <path
                                                        d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"
                                                        class=""
                                                        style="outline: 0px;"
                                                    ></path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div
                                            aria-label="Quickly add a page inside"
                                            role="button"
                                            tabindex="0"
                                            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 3px; margin-left: 4px; outline: 0px;"
                                            class="flex justify-center items-center ml-1 w-5 h-5 rounded-sm select-none"
                                        >
                                            <svg
                                                viewBox="0 0 14 14"
                                                class="block flex-shrink-0 w-3 h-full"
                                                style="width: 14px; height: 100%; display: block; fill: rgba(25, 23, 17, 0.6); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                                            >
                                                <path
                                                    d="M2 7.16357C2 7.59692 2.36011 7.95093 2.78735 7.95093H6.37622V11.5398C6.37622 11.9731 6.73022 12.3271 7.16357 12.3271C7.59692 12.3271 7.95093 11.9731 7.95093 11.5398V7.95093H11.5398C11.9731 7.95093 12.3271 7.59692 12.3271 7.16357C12.3271 6.73022 11.9731 6.37622 11.5398 6.37622H7.95093V2.78735C7.95093 2.36011 7.59692 2 7.16357 2C6.73022 2 6.37622 2.36011 6.37622 2.78735V6.37622H2.78735C2.36011 6.37622 2 6.73022 2 7.16357Z"
                                                    class=""
                                                    style="outline: 0px;"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div></a
                        >
                    </div>
                    <div
                        role="button"
                        tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; outline: 0px;"
                        class="cursor-pointer select-none"
                    >
                        <div
                            style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; color: rgba(55, 53, 47, 0.65); outline: 0px;"
                            class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
                        >
                            <div
                                style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                                class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                            >
                                <div
                                    style="display: flex; align-items: center; justify-content: center; outline: 0px;"
                                    class="flex justify-center items-center"
                                >
                                    <svg
                                        viewBox="0 0 14 14"
                                        class="block flex-shrink-0 w-4 h-4"
                                        style="width: 16px; height: 16px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                                    >
                                        <path
                                            d="M2 7.16357C2 7.59692 2.36011 7.95093 2.78735 7.95093H6.37622V11.5398C6.37622 11.9731 6.73022 12.3271 7.16357 12.3271C7.59692 12.3271 7.95093 11.9731 7.95093 11.5398V7.95093H11.5398C11.9731 7.95093 12.3271 7.59692 12.3271 7.16357C12.3271 6.73022 11.9731 6.37622 11.5398 6.37622H7.95093V2.78735C7.95093 2.36011 7.59692 2 7.16357 2C6.73022 2 6.37622 2.36011 6.37622 2.78735V6.37622H2.78735C2.36011 6.37622 2 6.73022 2 7.16357Z"
                                            class=""
                                            style="outline: 0px;"></path>
                                    </svg>
                                </div>
                            </div>
                            <div
                                style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                                class="flex-auto min-w-0 truncate"
                            >
                                Add a page
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="margin-top: 18px; outline: 0px;"
                class="mt-4 cursor-default"
            >
            </div>
            <div
                style="flex-grow: 0; flex-shrink: 0; outline: 0px;"
                class="flex-grow-0 flex-shrink-0 cursor-default"
            >
                <div
                    role="button"
                    tabindex="0"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
                    class="mx-1 w-56 rounded-sm cursor-pointer select-none"
                >
                    <div
                        style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                        class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
                    >
                        <div
                            style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                            class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                        >
                            <svg
                                viewBox="0 0 20 20"
                                class="block flex-shrink-0 w-full h-5 text-neutral-500"
                                style="width: 100%; height: 20px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                            >
                                <g
                                    clip-path="url(#a)"
                                    class=""
                                    style="outline: 0px;"
                                >
                                    <g
                                        clip-path="url(#b)"
                                        class=""
                                        style="outline: 0px;"
                                    >
                                        <path
                                            d="M15.898 14.531H14.57v1.18c0 1.664-.867 2.531-2.562 2.531H4.102c-1.688 0-2.563-.867-2.563-2.531V7.742c0-1.664.875-2.531 2.563-2.531H5.43V4.03c0-1.664.875-2.531 2.562-2.531h7.906c1.688 0 2.563.86 2.563 2.531v7.961c0 1.672-.875 2.54-2.563 2.54ZM15.805 13c.726 0 1.125-.375 1.125-1.133V4.164c0-.758-.399-1.14-1.125-1.14H8.078c-.719 0-1.125.382-1.125 1.14v1.047h5.055c1.695 0 2.562.867 2.562 2.531V13h1.235Zm-3.883 3.71c.726 0 1.117-.374 1.117-1.132V7.875c0-.758-.39-1.133-1.117-1.133H4.195c-.718 0-1.125.375-1.125 1.133v7.703c0 .758.407 1.133 1.125 1.133h7.727Z"
                                            class=""
                                            style="outline: 0px;"></path>
                                        <path
                                            d="M8 11.426c.855 0 1.574-.758 1.574-1.739C9.574 8.73 8.848 8 8 8c-.848 0-1.578.742-1.574 1.695 0 .973.722 1.73 1.574 1.73Zm-2.602 3.633h5.2c.437 0 .703-.207.703-.551 0-1.008-1.278-2.39-3.301-2.39-2.027 0-3.3 1.382-3.3 2.39 0 .344.26.55.698.55Z"
                                            class=""
                                            style="outline: 0px;"></path>
                                    </g>
                                </g>
                                <defs class="" style="outline: 0px;">
                                    <clipPath
                                        id="a"
                                        class=""
                                        style="outline: 0px;"
                                    >
                                        <path
                                            d="M0 0h20v20H0z"
                                            class=""
                                            style="outline: 0px;"></path>
                                    </clipPath>
                                    <clipPath
                                        id="b"
                                        class=""
                                        style="outline: 0px;"
                                    >
                                        <path
                                            transform="translate(-2.5 .5)"
                                            d="M0 0h28v21H0z"
                                            class=""
                                            style="outline: 0px;"></path>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div
                            style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                            class="flex-auto min-w-0 truncate"
                        >
                            Create a teamspace
                        </div>
                    </div>
                </div>
                <div
                    role="button"
                    tabindex="0"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
                    class="mx-1 w-56 rounded-sm cursor-pointer select-none"
                >
                    <div
                        style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                        class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
                    >
                        <div
                            style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                            class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                        >
                            <svg
                                viewBox="0 0 14 14"
                                class="block flex-shrink-0 w-full h-4 text-neutral-500"
                                style="width: 100%; height: 15px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M7.237 1l7.84 1.237-1.201 7.61L11.5 6.15 9.424 9.38 6 8.84 7.237 1zM5.545 5.31a4 4 0 1 0 2.29 4.832l-2.979-.47.689-4.363zM7 15l4.5-7 4.5 7H7z"
                                    class=""
                                    style="outline: 0px;"></path>
                            </svg>
                        </div>
                        <div
                            style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                            class="flex-auto min-w-0 truncate"
                        >
                            Templates
                        </div>
                    </div>
                </div>
                <div
                    role="button"
                    tabindex="0"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
                    class="mx-1 w-56 rounded-sm cursor-pointer select-none"
                >
                    <div
                        style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                        class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
                    >
                        <div
                            style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                            class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                        >
                            <svg
                                viewBox="0 0 14 14"
                                class="block flex-shrink-0 w-full h-4 text-neutral-500"
                                style="width: 100%; height: 15px; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                            >
                                <path
                                    d="M11.2857,6.05714 L10.08571,4.85714 L7.85714,7.14786 L7.85714,1 L6.14286,1 L6.14286,7.14786 L3.91429,4.85714 L2.71429,6.05714 L7,10.42857 L11.2857,6.05714 Z M1,11.2857 L1,13 L13,13 L13,11.2857 L1,11.2857 Z"
                                    class=""
                                    style="outline: 0px;"></path>
                            </svg>
                        </div>
                        <div
                            style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                            class="flex-auto min-w-0 truncate"
                        >
                            Import
                        </div>
                    </div>
                </div>
                <div
                    data-block-id="4e8d5654-4c08-4979-8e55-1605ed99162c"
                    class="text-neutral-500"
                    style="outline: 0px;"
                >
                    <div
                        role="button"
                        tabindex="0"
                        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px); outline: 0px;"
                        class="mx-1 w-56 rounded-sm cursor-pointer select-none"
                    >
                        <div
                            style="display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px; outline: 0px;"
                            class="flex items-center py-px px-2 my-px w-full text-sm leading-5"
                        >
                            <div
                                style="flex-shrink: 0; flex-grow: 0; border-radius: 3px; color: rgba(55, 53, 47, 0.65); width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; margin-right: 8px; outline: 0px;"
                                class="flex flex-grow-0 flex-shrink-0 justify-center items-center mr-2 w-5 h-5 rounded-sm"
                            >
                                <svg
                                    viewBox="0 0 14 14"
                                    class="block flex-shrink-0 w-3 h-full"
                                    style="width: 14px; height: 100%; display: block; fill: rgba(55, 53, 47, 0.45); flex-shrink: 0; backface-visibility: hidden; outline: 0px;"
                                >
                                    <path
                                        d="M13.5000308,3.23952 C13.5000308,4.55848168 11.9230308,12.0493 11.9230308,12.0782 C11.9230308,12.6571 9.73825083,14 7.04165083,14 C4.34504083,14 2.16025083,12.6571 2.16025083,12.0782 C2.16025083,12.0541 0.5,4.55799105 0.5,3.23952 C0.5,1.91780104 3.02713083,0 7.03525083,0 C11.0433308,0 13.5000308,1.9178004 13.5000308,3.23952 Z M7,2 C3.625,2 2.5,3.25 2.5,4 C2.5,4.75 3.625,6 7,6 C10.375,6 11.5,4.75 11.5,4 C11.5,3.25 10.375,2 7,2 Z"
                                        class=""
                                        style="outline: 0px;"></path>
                                </svg>
                            </div>
                            <div
                                style="flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; outline: 0px;"
                                class="flex-auto min-w-0 truncate"
                            >
                                Trash
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div
        style="display: block; flex: 0 0 auto; margin-top: auto; outline: 0px;"
        class="block flex-none mt-auto font-medium cursor-default"
    >
        <div
            aria-disabled="true"
            role="button"
            tabindex="-1"
            class="flex relative flex-col justify-start items-center p-3 mx-3 mt-0 mb-3 text-xs leading-4 rounded-md border border-solid select-none border-stone-200 bg-zinc-50"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: default; position: relative; padding: 12px; margin: 0px 12px 12px; font-size: 12px; background: rgb(251, 251, 250); border-radius: 6px; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; border: 1px solid rgb(233, 233, 231); box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; outline: 0px; animation: 230ms ease-in 0s 1 normal none running fadein;"
        >
            <div
                style="font-size: 14px; line-height: 20px; color: rgb(55, 53, 47); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: flex; flex-direction: row; align-self: flex-start; outline: 0px;"
                class="flex flex-row self-start text-sm leading-5 truncate text-stone-700"
            >
                Notion Projects
                <div
                    style="align-self: flex-start; margin-left: 6px; padding: 2px 4px; background: rgba(35, 131, 226, 0.1); color: rgb(35, 131, 226); border-radius: 4px; font-size: 11px; font-weight: 500; line-height: 1.3; letter-spacing: 0px; white-space: nowrap; width: fit-content; outline: 0px;"
                    class="self-start py-px px-1 ml-1 tracking-normal text-blue-500 whitespace-nowrap bg-indigo-50 rounded bg-opacity-[0.1]"
                >
                    New
                </div>
            </div>
            <div
                style="display: inline-block; min-width: 6px; min-height: 6px; outline: 0px;"
                class="inline-block cursor-default"
            >
            </div>
            <div
                style="font-size: 14px; line-height: 20px; color: rgba(55, 53, 47, 0.65); font-weight: normal; outline: 0px;"
                class="text-sm leading-5"
            >
                Take projects from idea to launch in one AI-powered workspace.
            </div>
            <div
                style="display: inline-block; min-width: 6px; min-height: 6px; outline: 0px;"
                class="inline-block cursor-default"
            >
            </div>
            <div
                role="button"
                tabindex="0"
                style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: inline-flex; align-items: center; flex-shrink: 0; white-space: nowrap; height: 20px; border-radius: 4px; font-size: 14px; line-height: 1.2; min-width: 0px; padding: 0px; color: rgb(35, 131, 226); align-self: flex-start; outline: 0px;"
                class="inline-flex flex-shrink-0 items-center self-start p-0 min-w-0 h-5 text-sm text-blue-500 whitespace-nowrap rounded cursor-pointer select-none"
            >
                Try it now
            </div>
        </div>
    </div>
</div>
